.map-wrapper {
    margin: 0 auto;
    width: 500px;
}
.map-frame {
    position: relative;
}
.base-area {
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
}
.base-area:hover {
    background: #777;
}

.base {
    background: #ff9;
    border-radius: 10px;
}
.fleet {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 9;
    font-size: 10px;
    line-height: 10px;
    color: green;
    text-align: center;
    border: 4px solid green;
    border-radius: 10px;
}
.fleet.fleet-moving {
    border: 0 !important;
}