body {
    background: #111;
    color: #ddd;
    font-family: arial, verdana, sans-serif;
    font-size: 100%;
    margin: 0;
}

.base-area {
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
}
.base-area:hover {
    background: #777;
}

.base {
    background: #eee;
    border-radius: 10px;
}