body {
    background: #111;
    color: #ddd;
    font-family: arial, verdana, sans-serif;
    font-size: 100%;
    margin: 2em;
}

.base-map {
    position: relative;
    width: 500px;
    height: 500px;
    background: #111;
    margin: 0 auto;
}

.base {
    position: absolute;
    font-size: 0.5em;
    background: #eee;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    cursor: pointer;
}